#output {
  /* Output starts invisible */
  display: none;
}

#adjective-one-output {
  font-weight: bold;
}

#adjective-two-output {
  font-weight: bold;
}

#adjective-three-output {
  font-weight: bold;
}

#noun-one-output {
  font-weight: bold;
}

#noun-two-output {
  font-weight: bold;
}

#noun-three-output {
  font-weight: bold;
}

#verb-output {
  font-weight: bold;
}